<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icebreaker Questions</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <script src="/index.js"></script>
    <!-- <script src="https://unpkg.com/tesseract.js@v2.0.2/dist/tesseract.min.js"></script> -->
  <body onload="run()">
    <div class="wrapper">
      <section class="sec-intro">
        <header role="banner">
          <input id="nav-check" type="checkbox" />
          <label class="fa" for="nav-check"></label>
          <nav role="navigation">
            <ul class="nav">
              <li class="menu"><a href="#">Home</a></li>
              <li class="menu"><a href="#">About our website</a></li>
              <li class="menu"><a href="#">Mindfulness</a></li>
              <li class="menu"><a href="#">Physical Activities</a></li>
              <li class="menu"><a href="#">Icebreaker Questions</a></li>
              <li class="menu"><a href="#">Icebreaker Activities</a></li>
            </ul>
          </nav>
        </header>
        <h1>Icebreaker Questions</h1>
      </section>
      <div class="row-grey">
        <div class="row">
          <article class="col-2">
            <h1>Welcome!</h1>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam
              reiciendis molestiae tempora adipisci possimus cum perspiciatis
              voluptates inventore, harum sit porro, nostrum labore dolorem
              sequi dicta vero exercitationem rem recusandae! Incidunt eveniet
              voluptate sequi dicta magni, assumenda, corrupti minus placeat
              itaque, in atque voluptas magnam amet asperiores deleniti
              voluptates! At, consequuntur iure. Libero, quos! Soluta quam
              veniam unde voluptatem odit.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Explicabo, voluptatibus corporis! Veniam, ex optio consequuntur,
              nulla quis iure nesciunt rem adipisci aspernatur asperiores
              eaque! Minus sint esse accusamus odio eligendi. Deleniti odio id
              excepturi impedit labore fugit, repudiandae neque accusamus
              dolorum ad quasi tempore amet quidem minima quos debitis facilis
              nobis, optio rerum eos assumenda? Sint nisi at impedit
              obcaecati.
            </p>
          </article>
          <article class="col-2">
            <h1>What is Zoom Fatique?</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illo
              voluptatum, eaque qui recusandae eligendi iusto tenetur veniam
              ipsum sint obcaecati exercitationem in repudiandae quos repellat
              at accusantium molestias perspiciatis vero. Aperiam placeat modi
              enim, mollitia eligendi perferendis. Commodi dignissimos
              temporibus sequi corrupti, corporis ipsa, laborum tempora harum
              amet veniam odit. Consectetur culpa quidem dicta aliquid
              exercitationem recusandae soluta porro enim. Ut veritatis esse
              inventore, quo repudiandae quia quis a soluta labore, dolorum
              fugit culpa quisquam suscipit, sapiente voluptate asperiores sed
              quod necessitatibus aut sequi omnis quam obcaecati? Animi, minus
              quasi.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Neque
              quas similique laboriosam earum maxime? Odio maxime aut quaerat
              fuga, sunt sapiente architecto explicabo, magnam fugit quis
              placeat eveniet exercitationem rerum!
            </p>
          </article>
        </div>
      </div>
      <section class="sec-about">
        <div class="row-red">
          <div class="row">
            <h4 class="upload">
              Upload list screenshot
            </h4>
            <form id="imageform" class="false" action="/uploads" onsubmit="change(this)" method="POST" enctype="multipart/form-data">
              <input
                type="file"
                id="myFile"
                name="avatar"
                multiple="false"
                accept="image/*"
              /><br />
              <Button type="submit" >SUBMIT</Button>
            </form>
          </div>
         <div class="namelist"></div>
        </div>

      </section>
      <section class="sec-news">
        <div id="container">
          <div id="inputArea">
          </div>
    
          <h1 id="time">0:00</h1>
        </div>
        <div class="row">
          <h1>Activity Options</h1>
        </div>
        <div class="row">
          <div class="col-2">
            <article class="post">
              <span>21 <br />JAN</span>
              <img
                src=""
                alt="Mindfulness"
              />
              <h1>Mindfulness</h1>
              <p></p>
            </article>
          </div>
          <div class="col-2">
            <article class="post">
              <span>05 <br />FEB</span>
              <img
                src=""
                alt="Physical Activities"
              />
              <h1>Physical activities</h1>
              <p></p>
            </article>
          </div>
        </div>
        <div class="row">
          <div class="col-2">
            <article class="post">
              <span>18 <br />FEB</span>
              <img
                src=""
                alt="Icebreaker Questions"
              />
              <h1>Icebreaker Questions</h1>
              <p></p>
            </article>
          </div>
          <div class="col-2">
            <article class="post">
              <span>11 <br />MAR</span>
              <img
                src=""
                alt="Icebreaker Activities"
              />
              <h1>Icebreaker Activities</h1>
              <p></p>
            </article>
          </div>
        </div>
        <div class="row">
          <button type="button" value="View All News" role="button">
            Go to top
          </button>
        </div>
      </section>
      <section class="sec-gallery">
        <div class="overlay">
          <div class="row">
            <h1>Facts</h1>
          </div>
          <div class="row">
            <div class="col-3">
              <img
                src="https://t4.ftcdn.net/jpg/04/19/62/75/360_F_419627551_AdoSi898tdPymirW9yXrhcuRSwrIvrIv.jpg"
                alt=""
              />
            </div>
            <div class="col-3">
              <img src="" alt="" />
            </div>
            <div class="col-3">
              <img
                src="https://t4.ftcdn.net/jpg/04/19/62/75/360_F_419627551_AdoSi898tdPymirW9yXrhcuRSwrIvrIv.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img src="" alt="" />
            </div>
            <div class="col-3">
              <img
                src="https://t4.ftcdn.net/jpg/04/19/62/75/360_F_419627551_AdoSi898tdPymirW9yXrhcuRSwrIvrIv.jpg"
                alt=""
              />
            </div>
            <div class="col-3">
              <img src="" alt="" />
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <img
                src="https://t4.ftcdn.net/jpg/04/19/62/75/360_F_419627551_AdoSi898tdPymirW9yXrhcuRSwrIvrIv.jpg"
                alt=""
              />
            </div>
            <div class="col-3">
              <img src="" alt="" />
            </div>
            <div class="col-3">
              <img
                src="https://t4.ftcdn.net/jpg/04/19/62/75/360_F_419627551_AdoSi898tdPymirW9yXrhcuRSwrIvrIv.jpg"
                alt=""
              />
            </div>
          </div>
          <div class="row">
            <button type="button" value="View All Photos" role="button">
              View Sources
            </button>
          </div>
        </div>
      </section>
      <footer>
        <div class="row">
          <ul class="soc-media">
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-pinterest"></a></li>
            <li><a href="#" class="fa fa-envelope"></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
