<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Icebreaker Questions</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css"/>
    <script src="/index.js"></script>
    <!-- <script src="https://unpkg.com/tesseract.js@v2.0.2/dist/tesseract.min.js"></script> -->
  <body onload="run()">
    <div class="wrapper">
      <section class="sec-intro">
        <header role="banner">
          <input id="nav-check" type="checkbox" />
          <label class="fa" for="nav-check"></label>
          <nav role="navigation">
            <ul class="nav">
              <li class="menu"><a href="#">Home</a></li>
              <li class="menu"><a href="#">About our website</a></li>
              <li class="menu"><a href="#">Mindfulness</a></li>
              <li class="menu"><a href="#">Physical Activities</a></li>
              <li class="menu"><a href="#">Icebreaker Questions</a></li>
              <li class="menu"><a href="#">Icebreaker Activities</a></li>
            </ul>
          </nav>
        </header>
        <h1>Icebreaker Questions</h1>
      </section>
      <div class="row-grey">
        <div class="row">
          <article class="col-2">
            <h1>Welcome!</h1>
            <p>
              Whether you are currently running a remote team due to the pandemic or your team has been virtual for years, virtual ice breakers can help just about any Zoom call or meeting.
              While we all know that it's important to build a strong culture within a team, this can sometimes be more difficult in a staff with remote employees. However, this is why virtual team building and ice breakers are so important. Even post-pandemic, remote teams and virtual communication will become more common than ever. 

            Studies show that people who feel more connected to one another have better communication and group task performance. Bottom line: Strong teams have a great deal of comfort and trust with one another and that is exactly why their productivity is high. engaging virtual ice breaker questions.

          
            Here's our list of our handpicked most energizing questions. These check in questions are relaxed, fun and simple but will also encourage your employees to give meaningful answers.

            </p>
          </article>
          <article class="col-2">
            <h1>What are Icebreaker Questions?</h1>
            <p>
              Ice breakers are simple activities or conversations that help ease any anxieties or awkwardness when a group comes together for a meeting, discussion, casual chat or many other occasions. A virtual ice breaker is perfect for when these meetings happen through video conference or conference call where folks may feel slightly uncomfortable in this type of social setting. 
              Incorporate more laughter and philosophical thought into your virtual classes and meetings to boost productivity, creativity and collaboration. One of the easiest and most effective ways to do this? A few brief ice breakers.  Remote teams could fall into a habit of only focusing on work tasks without allowing the opportunity of forming bonds with one another and efficient work patterns that naturally develop when a level of personal understanding is reached. Virtual team ice breakers can break down communication barriers, encourage creativity and collaboration while also decreasing feelings of isolation. 
            </p>

          </article>
        </div>
      </div>
      <section class="sec-about">
        <div class="row-red">
          <div class="row">
            <h4 class="upload">
              Upload list screenshot
            </h4>
            <form id="imageform" class="false" action="/uploads" onsubmit="change(this)" method="POST" enctype="multipart/form-data">
              <input
                type="file"
                id="myFile"
                name="avatar"
                multiple="false"
                accept="image/*"
              /><br />
              <Button type="submit" >SUBMIT</Button>
            </form>
          </div>
         <div class="namelist"></div>
        </div>

      </section>
      <section class="sec-news">
        <div id="container">
          <div id="inputArea">
          </div>
    
          <h1 id="time">0:00</h1>
        </div>
        <div class="row">
          <h1>Questions Options</h1>
        </div>
        <div class="row">
          <select id="idFormat" name="format" onchange="getQuestion()">
            <option value="no" selected disabled=true>--- Select Question Category ---</option>
              <option value="virtual">Quarantine Icebreaker Questions</option>
              <option value="funny">Funnay Icebreaker Questions</option>
              <option value="great">Great Icebreaker Questions</option>
              <option value="meetings">Meetings Icebreaker Questions</option>
              <option value="awkward">Awkward, Weird Icebreaker Questions</option>
              <option value="could">If you Could Icebreaker Questions</option>
              <option value="rather">Would You Rather Icebreaker Questions</option>
              <option value="college">Icebreaker Questions for College Students</option>
              <option value="highschool">Icebreaker Questions for Highschool Students</option>
              <option value="kids">Icebreaker Questions for Kids</option>
          </select>
        </div>
        <div class="row">
          <textarea id="question"></textarea>
        </div>
        <div class="next">
          <Button class="nextQuestion">Next Question</Button>
        </div>
      </section>
      <footer>
        <div class="row">
          <ul class="soc-media">
            <li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-facebook"></a></li>
            <li><a href="#" class="fa fa-pinterest"></a></li>
            <li><a href="#" class="fa fa-envelope"></a></li>
          </ul>
        </div>
      </footer>
    </div>
  </body>
</html>
